<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>practice01</title>
</head>
<body>
<form th:action="@{/ex/practice02}" th:object="${task}"  method="post">

    <label th:for="kor">국어 : </label>
    <input type="number" th:field="*{kor}"/>

    <label th:for="eng">영어 : </label>
    <input type="number" th:field="*{eng}"/>

    <label th:for="math">수학 : </label>
    <input type="text" th:field="*{math}"/>
    <input type="submit" value="저장하기" >
</form>
</body>
</html>